{extend name="base" /}

{block name="title"}<title>查看1</title>{/block}

{block name="main"}

<div>
  {include file="user/sidebar" /}
  <div class="col-lg-10 col-md-10 main-content">
    {include file="user/breadcrumb" model="基本资料"/}

    <div>
      <table class="table table-striped table-bordered table-hover table-padding-12">
        <tbody class="text-center">
        <tr id="username">
        </tr>
        </tbody>

      </table>

      <!--<button class="btn btn-default button-center" id="btn-edit" onclick="edit()">编辑</button>-->
    </div>
  </div>

</div>

{/block}