            </div>
            <!--<footer class="footer" id="bottom" style="display: inline-block;width: 100%; text-align: center">-->
            <footer class="footer navbar-fixed-bottom text-center" id="footer">
                Copyright &copy; <?php echo '2017-',date("Y");?> <a class="footer-icp" href="/">物联网智能管理平台</a> &nbsp;&nbsp;
                <a class="footer-icp" href="http://www.miitbeian.gov.cn/">皖ICP备17005522号-1</a>
            </footer>
        </div>


        <!--<script>-->

            <!--var adjustFooter = function () {-->
                <!--if (($('#bottom').offset().top + $('#bottom').outerHeight(true) ) < $(window).height()) {-->
                    <!--var footerBottom = $(window).height() - $('#bottom').outerHeight(true) - $('#bottom').offset().top;-->
                    <!--footerBottom = Math.floor(footerBottom) + 20;-->
                    <!--$('#bottom').css({'bottom': '-' + footerBottom + 'px', 'position': 'relative'});-->
                <!--}-->
            <!--};-->
            <!--$(document).ready(function () {-->
                <!--adjustFooter();-->
            <!--});-->



        <!--</script>-->

    </body>
</html>
