{extend name="index@base" /}

{block name="title"}相关开发文档{/block}

{block name="page-css"}
<style>
    p {
        line-height: 50px;
    }
</style>
{/block}

{block name="main"}
<div class="text-center">
    <h2 style="margin-top: 40px">智能物流系统持续开发中...</h2></br>

    <p>数据库字典， <a href="{:url('index/index/sql')}">https://iot.whark.cn/sql</a></p>
    <!--<p>数据库表，插入数据按照这上面的变量名统一命名， <a href="{:url('index/index/sql')}">https://iot.whark.cn/sql</a></p>-->
    <p>Web端我要寄件示例表， <a href="{:url('index/index/send')}">https://iot.whark.cn/send</a></p>
    <p>POST和GET请求数据测试，<a href="{:url('index/index/check')}">https://iot.whark.cn/check</a></p>
</div>
{/block}