{include file="api@index/header" title="我要寄件"  keywords="物联网智能管理平台" /}

<style type="text/css" src="../untitled.png">
#all{
	width:100%;
	height:1000px;
	margin:0px;
	padding:0px;
background-image:url(__PUBLIC__/photo/img/u=13891043225,973488654&fm=26&gp=0.jpg);
  
}
	
#head{
	padding-top:60px;
	width:100%;
	height:130px;
	text-align:center;
	
}	

#center{
	width:100%;
	height:750px;
	margin:0px;
	padding:0px;

}	
#footer{
	  width:100%;
	  height:100px;
	  clear:both;
	  padding-top:40px;
	 
}

.left{
	width:30%;
	height:700px;
	float:left;
    padding-top:20px;
}

.right{
      width:35%;
	 height:700px;
	 float:left;
	  padding-top:20px;
}

.middle{
      width:35%;
	   height:700px;
	   float:left;
	   padding-top:20px;
	 
}
h2{
   text-align:center;
	font-size:30px;
	font-family:kartika;
	color:#666;	

}

h1{
font-size:50px;
font-family:Verdana, Geneva, sans-serif;
color:#333;

}

.duiqi{
	font-size:25px;
	 color:black;
   font-family:Verdana, Geneva, sans-serif;
 }
	

.footer-icp{
	font-size:9px;
   font-family:Verdana, Geneva, sans-serif;
  text-decoration:none;
	 color:#333;
}

.botton{
	 background-color:#FCC;
   border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
 
  height:25px;
  border-bottom-width: 10px;
  width:200px;
}

.botton1{
	
	background-color:#FCF; 
	width:60px; 
	height:25px;

}
.botton2{
	background-color:#FCF; 
	width:70px; 
	height:25px;
}

span{
	font-size:25px;
	font-family:Verdana, Geneva, sans-serif;
	
}

.down{
margin-top:50px;	
}
.up{
	
padding-top:30px;	
	
	}
</style>		

<div id="all">
<!--
头部
-->	
	<div id="head">
	<center>
	<h1>我要寄件&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</h1>
	</center>
	</div>
	<!--
中间
-->	
<div id="center">
	<!--
中间左边
-->	
	<div class="left">
  <center>
 
         <div  class="up">
            <marquee behavior="alternate">
               <!--img src="img/-745f92ad7cde027a.jpg" width="" height=""--> 
            </marquee>
        </div>
    
       <div class="down">
       
            <img src="img/12.png"	width="" height="">
                      <br />
          
             <input type="submit"  class="botton2" value="开始教程">
       
       </div>
     
  </center> 
     </div>		
	 
	
     
     
     

 <div class="middle">
 <center>

<form action="http://iot.wlwshow.cn/check" method="get">

<table>	
<div name="one">
 <tr>
 <td colspan="100">
 <h2>寄件人</h2>
 </td>
 </tr>
    <tr>
	<td> <label for="sender-name" class="duiqi">姓名:</label></td>
	<td><input type="text" name="sender_name"  id="sende-name"  class="botton" placeholder="我叫小可爱，你呢？" required/></td>
    </tr>

  
<tr>
	<td>
   
	<label for="sender-mobile" class="duiqi">手机:</label></td>
   
	<td>
    <input type="text"  title="请输入11位有效的手机号" pattern="1[0-9]{10}" required 
    name="send_phone" id="sender-mobile" class="botton" placeholder="小主给我留个号码吧" /></td>
</tr>	
	
  
<tr>
	<td>
	<label for="validation" class="duiqi">验证码:</label></td>
	<td><input type="text" name="yanzhengma" id="validation" class="botton" placeholder="验证身份的时候到啦" required/>
	<input type="submit"  class="botton1" value="获取"></td>
</tr>

 <tr>
	<td>
  	<label for="sender-address" class="duiqi">上门地址:</label></td>
 <td> 
 
 
 <!--  省市联动插件 -->


  <input text="text" name="dizhi" id="sender-address"  data-parsley-trigger="change"
     data-parsley-errors-container=".sender-location" class="botton" placeholder="小可爱踏着七彩祥云来找你啦" required/>

     
   
     
     </td>
 </tr>	
 
	<tr>
     <td>
	   <label for="sender-address-detail"  class="duiqi">详细地址:</label></td>
	  <td> <input text="text" name="adress" id="sender-address-detail" class="botton" placeholder="详细一点，我要快点找到你" required /></td>
 </tr>
</div>  


<tr>
<td colspan="100">
<h2>收件人</h2>
</td>
</tr>
   <tr>
		<td> <label for="receiver-name" class="duiqi">姓名:</label></td>
	<td>  <input type="text" name="xingming" id="receiver-name" class="botton" placeholder="快递要送给谁呢？" required/></td>
	</tr>
	
     <tr>
		<td>
	   <label for="receiver-mobile" class="duiqi">手机:</label></td>
	  <td> <input type="text"  title="请输入11位有效的手机号" pattern="1[0-9]{10}" required
       name="haoma" id="receiver-mobile" class="botton" placeholder="TA的号码是多少，我帮小主联系啦" /></td>
</tr>
	

    <tr>
		<td>
  	   <label for="receiver-address" class="duiqi">上门地址:</label></td>
     <td><input text="text" name="dizhi" id="receiver-address"   data-parsley-trigger="change"
       data-parsley-errors-container=".receiver-location" class="botton" placeholder="我去哪里才能见到TA" 
       required/></td>
       </tr>
	
	   
       <tr>
		<td> <label for="receiver-address-detail" class="duiqi">详细地址:</label></td>
      <td> <input text="text" name="adress" id="receiver-address-detail" class="botton" placeholder="我这么可爱，小主就写的走心点吧" required/></td>
 </tr>

</table> 
  
 </form> 
 </center>


</div>
   
   
      
<div class="right">

<table>
<form action="http://iot.wlwshow.cn/check" method="post">

<center>
<tr>

<h2>宝贝信息</h2>

</tr>
<tr>
<span>类型：</span>
<input type="radio" name="splx" />服饰  <input type="radio" name="splx" />食品 
<input type="radio" name="splx" />数码   <br /><br /><input type="radio" name="splx" />生活用品
<input type="radio" name="splx" />文件   <input type="radio" name="splx" />其他
<br /><br />
 <label for="wight" class="duiqi">重量:</label>
 
  <select  class="botton" id="wight" name="zhongliang">
  
 <option value="wight" select="selected">0 ~ 5KG</option>
 <option value="wight">6 ~ 10KG</option>
 <option value="wight">11 ~ 20KG</option>
 <option value="wight">20KG以上</option>
 </select>
<br /><br /><br />

<span>备注:</span>
<textarea rows="3" cols="20" placeholder="快递小哥我有话要说"></textarea>
</tr>


<tr>
<h2>取件</h2>
</tr>
<tr>
<label for="time" class="duiqi">时间:</label>
<!--<input type="text" class="botton" name="sj" id="time" />-->
<input type="datetime-local" class="botton" name="sj" id="time"  value="2017-06-26T13:59:59"/>
<p>亲，我们的取货时间一般为下午三点到五点</p>
<br />
<span>备注：</span>
<textarea rows="3" cols="20" placeholder="你长得好看说什么都对"></textarea> <br /><br />
	     
	 <input type="reset"  class="botton1" value="重置">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	 <input type="submit" class="botton1" value="提交">
</tr> 
 </table>    
</form>          
	</center>    
	
</div>		
</div>
		
</div>	

{include file="api@index/footer"}
