{extend name="index@base" /}

{block name="title"}我要寄件{/block}

{block name="page-css"}
<style type="text/css" src="../untitled.png">

    .navbar-default {
        margin-bottom: 0px;
    }

#all{
	width:100%;
	height:auto;
    position: relative;
	margin:0;
	padding:0;
background-image:url(__PUBLIC__/photo/img/f5d95abad821a5159f1e48fd96212878.gif);	
  
}
	
#head{
	padding-top:50px;
	width:100%;
	height:130px;
	padding-left:80px;
	
}	

#center{
	width:100%;
	height:750px;
	margin:0px;
	padding:0px;

}

.right{
      width:40%;
	 height:700px;
	 float:left;
	  padding-top:20px;
	 
}

.middle{
      width:60%;
	   height:700px;
	   float:left;
	   padding-top:20px;
	 
}
h2{
  
	font-size:30px;
	font-family:kartika;
	color:#666;	
    padding-left:40px;
	
}

h1{
font-size:50px;
font-family:Verdana, Geneva, sans-serif;
color:#333;

}

.duiqi{
	font-size:20px;
	color:black;
   font-family:Verdana, Geneva, sans-serif;
 }

.botton{
    background-image:url(__PUBLIC__/photo/img/f5d95abad821a5159f1e48fd96212878.gif)); 
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom:5px;
    margin-bottom:15px;
	margin-left:auto;
    height:25px;
    border-bottom-width:10px;
    width:200px;
}

.botton1{
	
	background-color:#FCF; 
	width:60px; 
	height:25px;

}
.botton2{
	background-color:#FCF; 
	width:70px; 
	height:25px;
}

span{
	font-size:20px;
	font-family:Verdana, Geneva, sans-serif;
	
}

.down{
margin-top:50px;	
}
.up{
	
padding-top:30px;	
	
	}
	
.pc {
    width: 200px;
    height: 30px;
    float: right;
    line-height: 40px;
    text-align: center;
    margin: 0 20px 0;
    background: url(__PUBLIC__/photo/img/u=2005388468,2666472705&fm=26&gp=0.jpg);
    color: #666;
    font-weight: bold;
    border-radius: 8px;
    display: none;
}
	
</style>
{/block}

{block name="main"}
<div id="all">

    <a class="back" href="{:url('index/Index/iot')}">返回</a>
<!--
头部
-->
	<!--<div id="head">-->
    <!--<img src="__PUBLIC__/photo/img/biaoti.png"/>-->
	<!---->
	<!--</div>-->
	<!--
中间
-->	
<div id="center">    
        

 <div class="middle">

<form action="/api/logistics/add" method="get">
 <center> 
<table>	
<div name="one">
 <tr>
 <td colspan="100">
 <h2>寄件人</h2>
 </td>
 </tr>
 
    <tr>
	<td> <label for="sender-name" class="duiqi">姓名:</label></td>
	<td><input type="text" name="send_name"  id="sende-name"  class="botton" placeholder="我叫小可爱，你呢？" autofocus required/>
    <p class="pc"> </p>
    </td>
   
    </tr>


  
<tr>
	<td>
   
	<label for="sender-mobile" class="duiqi">手机:</label></td>
   
   <input type="hidden" name="apikey" value="235DDB6B1E163CC5F7EE5E87E33E76B0" />
   <input type="hidden" name="data_type" value="html" />
	<td>
    <input type="tel"  title="请输入11位有效的手机号" pattern="1[0-9]{10}" required 
    name="send_phone" id="sender-mobile" class="botton" placeholder="小主给我留个号码吧" /><p class="pc"> </p>
    </td>
</tr>


 <tr>
	<td>
  	<label for="sender-address" class="duiqi">上门地址:</label></td>
 <td> 
 
 
 <!--  省市联动插件 -->


  <input text="text" name="send_province" id="sender-address" 
         data-parsley-trigger="change"
     data-parsley-errors-container=".sender-location" class="botton" placeholder="小可爱踏着七彩祥云来找你啦"  required/>
    <p class="pc"> </p>
   
     
     </td>
 </tr>	


	<tr>
     <td>
	   <label for="sender-address-detail"  class="duiqi">详细地址:</label></td>
	  <td> <input text="text" name="send_address" id="sender-address-detail" class="botton" placeholder="详细一点，我要快点找到你" required />
      <p class="pc"> </p>
      </td>
 </tr>
 

</div>  


<tr>
<td colspan="100">
<h2>收件人</h2>
</td>
</tr>
   <tr>
		<td> <label for="receiver-name" class="duiqi">姓名:</label></td>
	<td>  <input type="text" name="receive_name" id="receiver-name" class="botton" placeholder="快递要送给谁呢？" required/>
    <p class="pc"> </p>
    </td>
	</tr>
	
     <tr>
		<td>
	   <label for="receiver-mobile" class="duiqi">手机:</label></td>
	  <td> <input type="tel"  title="请输入11位有效的手机号" pattern="1[0-9]{10}" required
       name="receive_phone" id="receiver-mobile" class="botton" placeholder="TA的号码是多少，我帮小主联系啦" />
       <p class="pc"> </p>
       </td>
</tr>
	

    <tr>
		<td>
  	   <label for="receiver-address" class="duiqi">上门地址:</label></td>
     <td><input text="text" name="receive_province" id="receiver-address"   data-parsley-trigger="change"
       data-parsley-errors-container=".receiver-location" class="botton" placeholder="我去哪里才能见到TA" 
       required/>
       <p class="pc"> </p>
       </td>
       </tr>
	
	   
       <tr>
		<td> <label for="receiver-address-detail" class="duiqi">详细地址:</label></td>
      <td> <input text="text" name="receive_address" id="receiver-address-detail" class="botton" placeholder="我这么可爱，小主就写的走心点吧" required/>
      <p class="pc"> </p>
      </td>
 </tr>

</table> 
  </center>
</div>

      
<div class="right">



<table>

<tr>

<h2>宝贝信息</h2>

</tr>
<tr>
<span>类型：</span>
<input type="radio" name="object_type" />服饰 
<input type="radio" name="object_type" />食品 
<input type="radio" name="object_type" />数码
 <br /><br />
<input type="radio" name="object_type" />生活用品
<input type="radio" name="object_type" />文件 
<input type="radio" name="object_type" />其他
 <br /><br />
<label for="wight" class="duiqi">重量:</label>
<select  class="botton" id="wight" name="object_weight">
  
 <option value="wight" select="selected">0 ~ 5KG</option>
 <option value="wight">6 ~ 10KG</option>
 <option value="wight">11 ~ 20KG</option>
 <option value="wight">20KG以上</option>
 </select>
<br /><br /><br />

<span>备注:</span>
<textarea rows="3" cols="20" name="object_remark" placeholder="快递小哥我有话要说"></textarea>
</tr>


<tr>
<h2>取件</h2>
</tr>
<tr>
<label for="time" class="duiqi">开始时间:</label>
<!--<input type="text" class="botton" name="sj" id="time" />-->
<input type="datetime-local" class="botton" name="pickup_time" id="time"  value="2017-06-26T13:59:59"/><br />
<label for="time" class="duiqi">结束时间:</label>
<input type="datetime-local" class="botton" name="pickup_time" id="time"  value="2017-06-26T13:59:59"/>
<p>亲，我们的取货时间一般为下午三点到五点</p>
<br />
<span>备注：</span>
<textarea rows="3" cols="20" name="pickup_remark" placeholder="你长得好看说什么都对"></textarea> <br /><br />
	<input type="reset"  class="botton1" value="重置">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	 <input type="submit" class="botton1" value="提交">         
	 
</tr>
</table>   
 
</form>  

    
	 
	
</div>		
</div> 
		
</div>
<div style="margin-bottom: 80px">

</div>

{/block}

{block name="page-footer-js"}
<script>
        var uname=document.getElementById('sende-name');
        uname.onfocus=function(){
            this.nextElementSibling.style.display='block';
            this.nextElementSibling.innerHTML='请输入姓名';
        }
        uname.onblur=function(){
            if(this.validity.valid){
                this.nextElementSibling.className='pc show_pass';
                this.nextElementSibling.innerHTML='格式正确！';
            }
            else if(this.validity.valueMissing) {
                this.nextElementSibling.className = 'pc show_warn';
                this.nextElementSibling.innerHTML = '亲，姓名不能为空';
            }else if(this.validity.patternMismatch){
                this.nextElementSibling.className='pc show_warn';
                this.nextElementSibling.innerHTML='亲，姓户名格式非法';
            }
        }
      
   
     
        var uphone=document.getElementById('sender-mobile');
        uphone.onfocus=function(){
            this.nextElementSibling.style.display='block';
            this.nextElementSibling.innerHTML='请输入联系电话';
        }
        uphone.onblur=function(){
            if(this.validity.valid){
                this.nextElementSibling.className='pc show_pass';
                this.nextElementSibling.innerHTML='格式正确！';
           }else if(this.validity.valueMissing){
                this.nextElementSibling.className='pc show_warn';
                this.nextElementSibling.innerHTML='亲，号码不能为空';
            }else if(this.validity.typeMismatch){
                this.nextElementSibling.className='pc show_warn';
                this.nextElementSibling.innerHTML='亲，号码格式非法';
            }
        }
		
		 var uname=document.getElementById('sender-address');
        uname.onfocus=function(){
            this.nextElementSibling.style.display='block';
            this.nextElementSibling.innerHTML='请输入所在省市';
        }
        uname.onblur=function(){
            if(this.validity.valid){
                this.nextElementSibling.className='pc show_pass';
                this.nextElementSibling.innerHTML='格式正确！';
            }
            else if(this.validity.valueMissing) {
                this.nextElementSibling.className = 'pc show_warn';
                this.nextElementSibling.innerHTML = '亲，地址不能为空';
            }else if(this.validity.patternMismatch){
                this.nextElementSibling.className='pc show_warn';
                this.nextElementSibling.innerHTML='亲，地址格式非法';
            }
        }
		
		
		 var uname=document.getElementById('sender-address-detail');
        uname.onfocus=function(){
            this.nextElementSibling.style.display='block';
            this.nextElementSibling.innerHTML='请输入所在街道门牌号';
        }
        uname.onblur=function(){
            if(this.validity.valid){
                this.nextElementSibling.className='pc show_pass';
                this.nextElementSibling.innerHTML='格式正确！';
            }
            else if(this.validity.valueMissing) {
                this.nextElementSibling.className = 'pc show_warn';
                this.nextElementSibling.innerHTML = '亲，地址不能为空';
            }else if(this.validity.patternMismatch){
                this.nextElementSibling.className='pc show_warn';
                this.nextElementSibling.innerHTML='亲，地址格式非法';
            }
        }
		
		
		 var uname=document.getElementById('receiver-name');
        uname.onfocus=function(){
            this.nextElementSibling.style.display='block';
            this.nextElementSibling.innerHTML='请输入对方姓名';
        }
        uname.onblur=function(){
            if(this.validity.valid){
                this.nextElementSibling.className='pc show_pass';
                this.nextElementSibling.innerHTML='格式正确！';
            }
            else if(this.validity.valueMissing) {
                this.nextElementSibling.className = 'pc show_warn';
                this.nextElementSibling.innerHTML = '亲，姓名不能为空';
            }else if(this.validity.patternMismatch){
                this.nextElementSibling.className='pc show_warn';
                this.nextElementSibling.innerHTML='亲，姓名格式非法';
            }
        }
		
		
		
		 var uphone=document.getElementById('receiver-mobile');
        uphone.onfocus=function(){
            this.nextElementSibling.style.display='block';
            this.nextElementSibling.innerHTML='请输入联系电话';
        }
        uphone.onblur=function(){
            if(this.validity.valid){
                this.nextElementSibling.className='pc show_pass';
                this.nextElementSibling.innerHTML='电话号码格式正确';
           }else if(this.validity.valueMissing){
                this.nextElementSibling.className='pc show_warn';
                this.nextElementSibling.innerHTML='电话号码不能外空';
            }else if(this.validity.typeMismatch){
                this.nextElementSibling.className='pc show_warn';
                this.nextElementSibling.innerHTML='电话号码格式非法';
            }
        }
		
		
		 var uname=document.getElementById('receiver-address');
        uname.onfocus=function(){
            this.nextElementSibling.style.display='block';
            this.nextElementSibling.innerHTML='请输入对方所在省市';
        }
        uname.onblur=function(){
            if(this.validity.valid){
                this.nextElementSibling.className='pc show_pass';
                this.nextElementSibling.innerHTML='格式正确！';
            }
            else if(this.validity.valueMissing) {
                this.nextElementSibling.className = 'pc show_warn';
                this.nextElementSibling.innerHTML = '亲，地址不能为空';
            }else if(this.validity.patternMismatch){
                this.nextElementSibling.className='pc show_warn';
                this.nextElementSibling.innerHTML='亲，地址格式非法';
            }
        }
		
		 var uname=document.getElementById('receiver-address-detail');
        uname.onfocus=function(){
            this.nextElementSibling.style.display='block';
            this.nextElementSibling.innerHTML='请输入所在街道门牌号';
        }
        uname.onblur=function(){
            if(this.validity.valid){
                this.nextElementSibling.className='pc show_pass';
                this.nextElementSibling.innerHTML='格式正确！';
            }
            else if(this.validity.valueMissing) {
                this.nextElementSibling.className = 'pc show_warn';
                this.nextElementSibling.innerHTML = '亲，地址不能为空';
            }else if(this.validity.patternMismatch){
                this.nextElementSibling.className='pc show_warn';
                this.nextElementSibling.innerHTML='亲，地址格式非法';
            }
        }
		
       
    </script>
{/block}

