{extend name="index@base" /}

{block name="title"}数据库字典{/block}

{block name="page-css"}
<style>
    table.hovertable {
        font-family: verdana, arial, sans-serif;
        font-size: 16px;
        color: #333333;
        border-width: 1px;
        border-color: #999999;
        border-collapse: collapse;
        text-align: center;
    }

    table.hovertable th {
        background-color: #c3dde0;
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #a9c6c9;
        text-align: center;
    }

    table.hovertable tr {
        background-color: #d4e3e5;
    }

    table.hovertable td {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #a9c6c9;
    }

    table tr:hover {
        background-color: #bbbbdd;
    }

    .my-table {

    }

    .my-table .title {
        padding: 15px 0 0;
    }

    .my-table .title h4{
        margin: 0 0 5px;
        color: #4288ce;
    }

    .my-table .body {
        margin-top: 12px;
    }

</style>
{/block}

{block name="main"}

<div class="col-lg-10 col-lg-offset-1 col-md-12 main-content">

    <div style="margin: 0px 0 20px">
        <a class="back" href="{:url('index/Index/iot')}">返回</a>
        <h2>数据库字典</h2>
    </div>


    <div class="my-table">

        <div class="title text-center">
            <h4>地址信息表</h4>
            <p>数据请求地址 http://test.iot.whark.cn/api/map/add</p>
        </div>

        <div class="body">
            <table class="table table-striped table-bordered table-hover">

                <tr><th>字段</th><th>类型</th><th>是否允许为空</th><th>表注释</th></tr>
                <tr><td>map_id</td><td>int(8) unsigned</td><td>NO</td><td>ID</td></tr>
                <tr><td>lng</td><td>int(9) unsigned</td><td>YES</td><td>经度</td></tr>
                <tr><td>lat</td><td>int(9) unsigned</td><td>YES</td><td>纬度</td></tr>
                <tr><td>code</td><td>varchar(200)</td><td>YES</td><td>信息</td></tr>
                <tr><td>create_time</td><td>bigint(11)</td><td>YES</td><td>时间</td></tr>
                <tr><td>ip</td><td>varchar(16)</td><td>YES</td><td>IP地址</td></tr>
                <tr><td>uid</td><td>int(8) unsigned</td><td>NO</td><td>用户ID</td></tr>
            </table>
        </div>
    </div>



    <div class="my-table">

        <div class="title text-center">
            <h4>RFID信息表</h4>
            <p>数据请求地址 http://test.iot.whark.cn/api/rfid/add</p>
        </div>

        <div class="body">
            <table class="table table-striped table-bordered table-hover">


                <tr><th>字段</th><th>类型</th><th>是否允许为空</th><th>表注释</th></tr>
                <tr><td>rfid_id</td><td>int(11)</td><td>NO</td><td>ID</td></tr>
                <tr><td>c_user</td><td>varchar(240)</td><td>NO</td><td>RFID卡用户区数据</td></tr>
                <tr><td>epc_id</td><td>varchar(64)</td><td>NO</td><td>EPC号</td></tr>
                <tr><td>id_length</td><td>int(10) unsigned</td><td>YES</td><td>EPC长度</td></tr>
                <tr><td>c_reserve</td><td>varchar(16)</td><td>YES</td><td>RFID卡保留区数据</td></tr>
                <tr><td>c_epc</td><td>varchar(72)</td><td>YES</td><td>RFID卡EPC区数据</td></tr>
                <tr><td>c_tid</td><td>varchar(72)</td><td>YES</td><td>RFID卡TID区数据</td></tr>
                <tr><td>uid</td><td>int(8) unsigned</td><td>NO</td><td>用户ID</td></tr>
                <tr><td>create_time</td><td>bigint(11)</td><td>YES</td><td>创建时间</td></tr>
                <tr><td>ip</td><td>varchar(16)</td><td>YES</td><td>IP</td></tr>

            </table>
        </div>
    </div>

    <div class="my-table">

        <div class="title text-center">
            <h4>物流信息表</h4>
            <p>数据请求地址 http://test.iot.whark.cn/api/logistics/add</p>
        </div>

        <div class="body">
            <table class="table table-striped table-bordered table-hover">

                <tr><th>字段</th><th>类型</th><th>是否允许为空</th><th>表注释</th></tr>
                <tr><td>id</td><td>int(11)</td><td>NO</td><td>自增ID</td></tr>
                <tr><td>send_name</td><td>varchar(30)</td><td>NO</td><td>寄件人姓名</td></tr>
                <tr><td>send_phone</td><td>char(11)</td><td>NO</td><td>寄件人手机号</td></tr>
                <tr><td>send_province</td><td>char(30)</td><td>NO</td><td>寄件省市</td></tr>
                <tr><td>send_address</td><td>varchar(100)</td><td>NO</td><td>寄件地址</td></tr>
                <tr><td>receive_name</td><td>varchar(30)</td><td>NO</td><td>收件人姓名</td></tr>
                <tr><td>receive_phone</td><td>char(11)</td><td>NO</td><td>收件人手机号</td></tr>
                <tr><td>receive_province</td><td>char(30)</td><td>NO</td><td>收件人省市</td></tr>
                <tr><td>receive_address</td><td>varchar(100)</td><td>NO</td><td>收件地址</td></tr>
                <tr><td>object_type</td><td>varchar(20)</td><td>NO</td><td>物品类型</td></tr>
                <tr><td>object_weight</td><td>varchar(20)</td><td>YES</td><td>物品重量</td></tr>
                <tr><td>object_remark</td><td>varchar(200)</td><td>YES</td><td>物品备注</td></tr>
                <tr><td>pickup_time</td><td>varchar(20)</td><td>YES</td><td>上门取件时间</td></tr>
                <tr><td>pickup_remark</td><td>varchar(200)</td><td>YES</td><td>上门取件备注</td></tr>
                <tr><td>order_price</td><td>float</td><td>YES</td><td>订单价格</td></tr>
                <tr><td>order_time</td><td>bigint(11)</td><td>NO</td><td>下单时间</td></tr>
                <tr><td>ip</td><td>varchar(16)</td><td>NO</td><td>IP地址</td></tr>
                <tr><td>postal_code</td><td>varchar(6)</td><td>YES</td><td>收件人邮政编码</td></tr>
                <tr><td>uid</td><td>int(8) unsigned</td><td>NO</td><td>用户ID</td></tr>

            </table>
        </div>
    </div>


    <div class="my-table">

        <div class="title text-center">
            <h3>用户表</h3>
            <p>数据请求地址 http://test.iot.whark.cn/index/user/add</p>
        </div>

        <div class="body">
            <table class="table table-striped table-bordered table-hover">

                <tr><th>字段</th><th>类型</th><th>是否允许为空</th><th>表注释</th></tr>
                <tr><td>user_id</td><td>int(8) unsigned</td><td>NO</td><td>用户ID</td></tr>
                <tr><td>apikey</td><td>char(32)</td><td>YES</td><td>APIKEY</td></tr>
                <tr><td>secretkey</td><td>char(32)</td><td>YES</td><td>访问密钥</td></tr>
                <tr><td>username</td><td>varchar(20)</td><td>NO</td><td>用户名</td></tr>
                <tr><td>nickname</td><td>varchar(50)</td><td>YES</td><td>昵称</td></tr>
                <tr><td>email</td><td>varchar(20)</td><td>YES</td><td>邮箱</td></tr>
                <tr><td>password</td><td>char(32)</td><td>NO</td><td>密码</td></tr>
                <tr><td>telephone</td><td>char(11)</td><td>YES</td><td>手机号</td></tr>
                <tr><td>birthday</td><td>varchar(10)</td><td>YES</td><td>生日</td></tr>
                <tr><td>status</td><td>tinyint(2)</td><td>NO</td><td>状态</td></tr>
                <tr><td>zcsj</td><td>varchar(10)</td><td>YES</td><td>注册时间</td></tr>
                <tr><td>zjdl</td><td>varchar(10)</td><td>YES</td><td>最近登录</td></tr>

            </table>
        </div>
    </div>

    <div class="my-table">

        <div class="title text-center">
            <h3>商品信息表</h3>
        </div>

        <div class="body">
            <table class="table table-striped table-bordered table-hover">
                <tr><th>字段</th><th>类型</th><th>是否允许为空</th><th>表注释</th></tr>
                <tr><td>comment_id</td><td>int(8) unsigned</td><td>NO</td><td>ID</td></tr>
                <tr><td>goods_id</td><td>int(8) unsigned</td><td>YES</td><td>商品ID</td></tr>
                <tr><td>username</td><td>varchar(50)</td><td>YES</td><td>昵称</td></tr>
                <tr><td>content</td><td>varchar(250)</td><td>YES</td><td>评论</td></tr>
                <tr><td>email</td><td>varchar(30)</td><td>YES</td><td>邮箱</td></tr>
                <tr><td>add_time</td><td>bigint(11)</td><td>YES</td><td>时间</td></tr>
                <tr><td>ip_address</td><td>varchar(16)</td><td>YES</td><td>IP地址</td></tr>
                <tr><td>status</td><td>tinyint(2)</td><td>NO</td><td>状态</td></tr>
                <tr><td>uid</td><td>int(8) unsigned</td><td>NO</td><td>用户ID</td></tr>

            </table>
        </div>

    </div>

    <div style="margin-bottom: 80px">

    </div>
</div>
{/block}