<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
{include file="index/header" title="创建用户"  keywords="物联网智能管理平台" /}
<center>

<div class="registb" id="regTab">
        <table class="rtalbe">
            <tbody><tr id="usernametr">
                <th>用户名</th>
                <td>
                    <input type="text" id="username" value="" class="userInput borderColor" onfocus="" onblur="checkUserexist($(this).val());">
                    <span class="reds">*</span>
                    <p id="usernametrerror" style="">
                        <span class="errorLabel" id="usernameerror">用户名不允许为空，请重新填写</span>
                    </p>
                </td>
            </tr>
            <tr id="passwordtr">
                <th> 密码</th>
                <td>
                    <input type="password" id="password" value="" class="userInput" onblur="checkPassword($(this).val());">
                    <span class="reds">*</span>
                    <p style="display: none" id="passwordtrerror">
                        <span class="errorLabel" id="passworderror"></span>
                    </p>
                </td>
            </tr>
            <tr id="repasswordtr">
                <th> 确认密码</th>
                <td>
                    <input type="password" id="repassword" value="" class="userInput borderColor" >
                    <span class="reds">*</span>
                    <p id="repasswordtrerror" style="">
                        <span class="errorLabel" id="repassworderror">确认密码不允许为空</span>
                    </p>
                </td>
            </tr>
            <tr id="emailtr">
                <th> 电子邮箱</th>
                <td>
                    <input type="text" id="email" value="" class="userInput borderColor" onblur="checkEmailexist($(this).val())">
                    <span class="reds">*</span>
                    <p id="emailtrerror" style="">
                        <span class="errorLabel" id="emailerror">email不允许为空，请重新填写</span>
                    </p>
                </td>
            </tr>
            <tr id="realnametr">
                <th>昵称</th>
                <td>
                    <input type="text" id="realname" value="" class="userInput" onblur="checkRealName($(this).val())">
                    <p id="realnametrerror" style="display: none">
                        <span class="errorLabel" id="realnameerror"></span>
                    </p>
                </td>
            </tr>
            <tr id="telephonetr">
                <th>
                    手机号码
                </th>
                <td>
                    <input type="text" id="telephone" value="" class="userInput"   >
                    <p id="telephonetrerror" style="display: none">
                        <span class="errorLabel" id="telephoneerror"></span>
                    </p>
                </td>
            </tr>
            <tr>
                <th>验证码</th>
                <td>
                    <input type="text" id="verify" class="userInput">
                    <span class="reds">*</span>
                    <p class="mt5">
                        <img id="imgVerify" src="/generatImage2" onclick="refresh()" class="vm">
                        <a href="javascript:void(0)" onclick="refresh()" class="vm veritip ml5">看不清楚？换一张</a>
                    </p>
                    <p id="verifytrerror" style="display: none">
                        <span class="errorLabel" id="verifyerror"></span>
                    </p>
                </td>
            </tr>
            <tr>
                <th></th>
                <td>
                    <a href="javascript:void(0);" id="registbtn" onclick="regInfoCheck()" class="btnl">注册</a>
                </td>
            </tr>
            <tr>
                <th></th>
                <td>
                    <p class="utip2">已注册？请 <a href="/login/index">登录</a></p>
                </td>
            </tr>
        </tbody></table>
    </div>
    
{include file="index/footer" /}
</center>