{include file="index/header" title="个人中心"  keywords="物联网智能管理平台" /}

<div class="auto1 pb30 pt20">

        <div class="lbar">
            
<ul class="lNav1">
    <li id="userview_li" class="lNav1li lNav1-liOn"><a href="/" class="lNav1a userview-link">基本资料</a></li>
    <li id="editpwd_li" class="lNav1li"><a href="/index/user/data" class="lNav1a editpwd-link">查看数据</a></li>
    <li id="editpwd_li" class="lNav1li"><a class="lNav1a editpwd-link">修改密码</a></li>
    <li id="gateway_li" class="lNav1li"><a class="lNav1a gateway-link">网关</a></li>
    <li id="device_li" class="lNav1li"><a class="lNav1a device-link">设备</a></li>
    <li id="action_li" class="lNav1li"><a class="lNav1a action-link">动作</a></li>
</ul>
        </div>
        <div class="rmain1">
            <div class="intro"><a href="/">用户中心</a>&gt;&nbsp;查看数据</div>
            <div id="uiblc">
                <table class="table1">
                    <tr><td>
                    <a href="/api/map/show">查看MAP数据</a>
                    </td></tr>
                    <tr><td>
                    <a href="/api/rfid/show">查看RFID数据</a>
                    </td></tr>
                </table>
                <div style="display: none"><input type="text" id="userType"></input></div>
            </div>


        </div>

    </div>

{include file="index/footer" /}