{extend name="base" /}

{block name="title"}查看数据{/block}

{block name="main"}

<div>
    {include file="user/sidebar" /}
    <div class="col-lg-10 col-md-10 main-content">

        <div>
            {include file="user/breadcrumb"  active="查看数据"/}
            <div class="col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
                <table class="table table-striped table-bordered table-hover table-padding-12 text-center">
                    <tr>
                        <td>
                            <a href="{:url('api/Map/show')}">查看MAP数据</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="{:url('api/Rfid/show')}">查看RFID数据</a>
                        </td>
                    </tr>
                </table>
            </div>


        </div>

    </div>
</div>

{/block}