{extend name="base" /}

{block name="title"}用户中心{/block}

{block name="main"}

<div>
    {include file="user/sidebar" /}
    <div class="col-lg-10 col-md-10 main-content">
        {include file="user/breadcrumb" active="基本资料"/}

        <div>
            <table class="table table-striped table-bordered table-hover table-padding-12">
                <tbody class="text-center">
                <tr id="username">
                    <th class="text-center">用户名</th>
                    <td class="user-info">{$user->username}</td>
                </tr>
                <tr id="apikey">
                    <th class="text-center">APIKey</th>
                    <td class="input">{$user->apikey}</td>
                </tr>
                <tr id="nickname">
                    <th class="text-center">昵称</th>
                    <td class="user-info">{$user->nickname}</td>
                </tr>
                <tr id="telephone">
                    <th class="text-center">手机号</th>
                    <td class="user-info">{$user->telephone}</td>
                </tr>
                <tr id="email">
                    <th class="text-center">邮箱</th>
                    <td class="user-info">{$user->email}</td>
                </tr>
                <tr hidden>
                    <th class="text-center">用户ID</th>
                    <td class="user-info" id="user-id">{$user->user_id}</td>
                </tr>
                </tbody>

            </table>

            <!--<button class="btn btn-default button-center" id="btn-edit" onclick="edit()">编辑</button>-->
        </div>
    </div>

</div>

{/block}

{block name="page-footer-js"}
<script>
    var $ = jQuery;
    $(function(){

        $('table td').click(function(){
            if(!$(this).is('.input')){
                var old_value = $(this).text();
                $(this).addClass('input').html('<input class="text-center" style="width: 21em;" value="'+ $(this).text() +'" />').find('input').focus().blur(function(){
//                            var thisid = $(this).parent().siblings("th:eq(0)").text();
                    var thisid = $(this).parent().parent().attr("id");
                    var thisvalue = $(this).val();
                    var userId = document.getElementById("user-id").innerHTML;

                    if (thisvalue !== old_value) {
                        $.ajax({
                            type: 'PUT',
                            url: '/users/' + userId,
                            data: thisid + "=" + thisvalue
                        })
                            .done(function (data) {
                                if (data.status === -1) {
                                    console.log(old_value);
                                    $("#" + thisid).children('td').text(old_value);
                                }
                                showMsg(data.msg);
                            })
                            .fail(function (data) {
                                $("#" + thisid).children('td').text(old_value);
                                showMsg("更新失败");
                            });
                    }
                    $(this).parent().removeClass('input').html($(this).val() || 0);
                });
            }
        }).hover(function(){
            $(this).addClass('hover');
        },function(){
            $(this).removeClass('hover');
        });

    });

    function showMsg(msg)
    {
        $(".msg").text(msg);
        $(".msg_box").show();
        setTimeout(function () {
            $(".msg_box").fadeOut();
        }, 2000)
    }
</script>

{/block}