{include file="index/header" title="个人中心"  keywords="物联网智能管理平台" /}

<div class="auto1 pb30 pt20">
    {include file="user/sidebar" /}
        <div class="rmain1">
            <div class="intro"><a href="/">用户中心</a>&gt;&nbsp;基本资料</div>
            <div id="uiblc">
                <table class="table1">
                    <tbody><tr id="usertr">
                        <th>用户名：</th>
                        <td id="username">{$list->username}</td>
                    </tr>
                    <tr id="APIKeytr">
                        <th>APIKey：</th>
                        <td>
                            <span id="APIKey">{$list->apikey}</span>
                            <span style="display: none;" id="resetbtntd"><a href="javascript:void(0)" id="resetbtn" onclick="regenerate()"></a></span>
                            <p id="APIKeytrerror" style="display: none"><span class="errorLabel" id="APIKeyerror"></span></p>
                        </td>
                    </tr>

                    <tr id="nicknametr">
                        <th> 昵称：</th>
                        <td>
                            <span id="nickname">{$list->nickname}</span>
                            <p id="nicknametrerror" style="display: none"><span class="errorLabel" id="nicknameerror"></span></p>
                        </td>
                    </tr>

                    <tr id="telephonetr">
                        <th> 手机号：</th>
                        <td>
                            <span id="telephone">{$list->telephone}</span>
                            <p id="telephonetrerror" style="display: none"><span class="errorLabel" id="telephoneerror"></span></p>
                        </td>
                    </tr>
                    <tr id="emailtr">
                        <th> 邮箱：</th>
                        <td>
                            <span id="email">{$list->email}</span>
                            <p id="emailtrerror" style="display: none"><span class="errorLabel" id="emailerror"></span></p>
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <td id="editOrsave">
                            <a href="javascript:void(0)" id="edituser" onclick="editUserInfo()" class="btn1 mt10">编辑</a>
                        </td>
                    </tr>
                </tbody></table>

                <div style="display: none"><input type="text" id="userType"></input></div>
            </div>


        </div>

    </div>

{include file="index/footer" /}