{include file="index/header" title="用户登录"  keywords="物联网智能管理平台" /}
<script src="/static/jquery/jquery-1.10.2.min.js"></script>
<style>
.form{
    padding: 15px;
    font-size: 16px;
}

.form .text {
    padding: 3px;
    margin: 6px;
    width: 240px;
    height: 24px;
    line-height: 28px;
    border: 1px solid #D4D4D4;
}
h2{
    color: #4288ce;
    font-weight: 400;
    padding: 6px 0;
    margin: 10px 0 6px;
    font-size: 28px;
    border-bottom: 1px solid #eee;
}
.info{
    padding: 12px 0;
    border-bottom: 1px solid #eee;
}
</style>
<h2>用户登录</h2>
<FORM method="post" class="form" action="{:url('index/user/home')}">
用户名：<INPUT type="text" class="text" name="username" placeholder="用户名/邮箱/手机号" autocomplete="off"><br/>
&nbsp;&nbsp;&nbsp;密码：<INPUT type="password" class="text" name="password" placeholder="登录密码" autocomplete="off"><br/>
验证码：<INPUT type="text" class="text" placeholder="不区分大小写" name="code">
<div id="captcha_image" style="width:120px">{:captcha_img()}</div>
<input type="hidden" name="__token__" value="{$Request.token}" />
<br/>
<INPUT type="button" class="button button-rounded button-small button-primary" value="注册" onclick="window.location=('create')" /> &nbsp;
<INPUT type="submit" class="button button-rounded button-small button-primary" value="登录">
</FORM>

<script>
    $('#captcha_image').click(function(){
        $(this).find('img').attr('src','/captcha.html?r='+Math.random());
    });
</script>
{include file="index/footer" /}
