{include file="index/header" title="用户登录"  keywords="物联网智能管理平台" /}
<h2>用户登录</h2>
<FORM method="post" class="login center" id="login" action="{:url('/')}" >
    <table width="100%" style="table-layout:fixed;">
        <tbody>
            <tr>
                <td class="need" style="width:10px;"></td>
                <td style="width:70px;">用户名：</td>
                <td style="width:240px;">
                    <input type="text" class="inputtxt" id="username" name="username" datatype="s3-26|e" sucmsg=" " nullmsg="请输入用户名" errormsg="请输入正确的用户名" />
                </td>
                <td>
                    <div class="Validform_checktip"></div>
                    <div class="info">用户名/手机号/邮箱
                        <span class="dec">
                            <s class="dec1">◆</s>
                            <s class="dec2">◆</s>
                        </span>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="need" style="width:10px;"></td>
                <td style="width:70px;">密码：</td>
                <td style="width:240px;">
                    <input type="password" class="inputtxt" id="password" name="password" plugin="passwordStrength" datatype="*6-18" sucmsg=" " nullmsg="请输入密码" errormsg="请输入正确的密码" />
                </td>
                <td>
                    <div class="Validform_checktip"></div>
                    <div class="info">请输入密码
                        <span class="dec">
                            <s class="dec1">◆</s>
                            <s class="dec2">◆</s>
                        </span>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="need" style="width:10px;"></td>
                <td style="width:70px;">验证码：</td>
                <td style="width:240px;">
                    <input type="text" class="inputtxt" ajaxurl="/index/user/code" validform_valid="false" id="code" name="code" datatype="n4-4|s4-4" sucmsg=" " nullmsg="请输入验证码" errormsg="验证码错误" />
                </td>
                <td>
                    <div class="Validform_checktip"></div>
                    <div class="info">请输入验证码，不区分大小写
                        <span class="dec">
                            <s class="dec1">◆</s>
                            <s class="dec2">◆</s>
                        </span>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="need" style="width:10px;"></td>
                <td style="width:70px;"></td>
                <td style="width:200px;">
                    <div id="captcha_image" style="width:200px;"><img src="{:captcha_src()}" alt="captcha" style="margin-left: 5px;"/></div>
                </td>
                <td>

                </td>
            </tr>
        </tbody>
    </table>
<input type="button" style="margin-left: 100px;" class="button button-rounded button-small button-primary" value="注册" onclick="window.location=('reg')" /> &nbsp;
<input type="submit" id="submit" class="button button-rounded button-small button-primary" value="登录">
</FORM>
<script>
    $('#captcha_image').click(function(){
        $(this).find('img').attr('src','/captcha.html?r='+Math.random());
        $("#inputtxt")[2].validform_valid="false";
    });
</script>
<script>

$(function(){
	var getInfoObj=function(){
			return 	$(this).parents("td").next().find(".info");
		}
	$("[datatype]").focusin(function(){
		if(this.timeout){clearTimeout(this.timeout);}
		var infoObj=getInfoObj.call(this);
		if(infoObj.siblings(".Validform_right").length!=0){
			return;
		}
		infoObj.show().siblings().hide();

	}).focusout(function(){
		var infoObj=getInfoObj.call(this);
		this.timeout=setTimeout(function(){
			infoObj.hide().siblings(".Validform_wrong,.Validform_loading,.Validform_right").show();
		},0);

	});

	$(".login").Validform({
		tiptype:2,
		usePlugin:{
			passwordstrength:{
				minLen:6,
				maxLen:18,
				trigger:function(obj,error){
					if(error){
						obj.parent().next().find(".passwordStrength").hide().siblings(".info").show();
					}else{
						obj.removeClass("Validform_error").parent().next().find(".passwordStrength").show().siblings().hide();
					}
				}
			}
		}
	});
})
</script>

<script>
    function keyEnter(){
        if (event.keyCode == 13) {
//            var loginForm = document.getElementById('login');
//            var username = document.getElementById('username').value;
//            var password = document.getElementById('password').value;
//            var code = document.getElementById('code').value;
//            var submit = document.getElementById('submit');
//            console.log(username);
//            if (username != '' && password != '' && code != '') {
//                loginForm.submit();
//            } else {
//                submit.click()
//            }
            submit.click()
        }
    }
    document.onkeydown =keyEnter;
</script>

<script type="text/javascript" src="__PUBLIC__/js/Validform_v5.3.2.js"></script>
{include file="index/footer" /}
