{include file="index/header" title="修改密码"  keywords="物联网智能管理平台" /}

<div>

    {include file="user/sidebar" /}
    <div class="col-lg-10 col-md-10 main-content">
        {include file="user/breadcrumb"  model="修改密码"/}
        <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
            <div class="table-padding-12">
                <div class="input-group margin-top-12">
                    <span class="input-group-addon" id="sizing-addon1">&nbsp;原&nbsp;密&nbsp;码&nbsp;</span>
                    <input type="password" class="form-control" name="old_password" id="old_password"
                           aria-describedby="sizing-addon1">
                </div>

                <div class="input-group margin-top-12">
                    <span class="input-group-addon" id="sizing-addon2">&nbsp;新&nbsp;密&nbsp;码&nbsp;</span>
                    <input type="password" class="form-control" name="new_password" id="new_password"
                           aria-describedby="sizing-addon2">
                </div>

                <div class="input-group margin-top-12">
                    <span class="input-group-addon" id="sizing-addon3">重复密码</span>
                    <input type="password" class="form-control" name="renew_password" id="renew_password"
                           aria-describedby="sizing-addon3">
                </div>
            </div>


            <button class="btn btn-default button-center margin-top-12" onclick="submit()" type="button">
                修改
            </button>
        </div>


    </div>

</div>

<script>
    var $ = jQuery;

    function submit() {

        var old_password = $("#old_password").val();
        var new_password = $("#new_password").val();
        var renew_password = $("#renew_password").val();

        console.log(old_password + "=" + new_password + "=" + renew_password);

        if (old_password === '' || new_password === '' || renew_password === '') {
            showMsg("输入不能为空");
            return;
        }

        if (new_password !== renew_password) {
            console.log("1312");
            showMsg("两次输入的新密码不一致");
            return;
        }

        var data = "old_password=" + old_password + "&new_password=" + new_password;

        console.log(data);

        $.ajax({
            type: 'POST',
            url: '/index/user/resetPassword',
            data: data
        })
            .done(function (data) {
                showMsg(data.msg);
            })
            .fail(function () {
                showMsg("修改失败");
            });
    }

    function showMsg(msg) {
        $(".msg").text(msg);
        $(".msg_box").show();
        setTimeout(function () {
            $(".msg_box").fadeOut();
        }, 2000)
    }
</script>

{include file="index/footer" /}