{include file="index/header" title="个人中心"  keywords="物联网智能管理平台" /}

<div class="auto1 pb30 pt20">

    {include file="user/sidebar" /}
        <div class="rmain1">
            {include file="user/breadcrumb" /}
            <div id="uiblc">
                <form style="margin-left: 50px;" action="/index/user/resetPassword" method="post" enctype="multipart/form-data">
                    <table style="margin-top: 50px;">
                        <tr style="line-height: 50px;">
                            <th style="font-weight: normal;text-align: right;"><span>原密码</span></th>
                            <td style="display: block;margin-left: 20px;"><input type="password"/></td>
                        </tr>
                        <tr style="line-height: 50px;">
                            <th style="font-weight: normal;text-align: right;"><span>新密码</span></th>
                            <td style="display: block;margin-left: 20px;"><input type="password"/></td>
                        </tr>
                        <tr style="line-height: 50px;">
                            <th style="font-weight: normal;text-align: right;"><span>重复新密码</span></th>
                            <td style="display: block;margin-left: 20px;"><input type="password"/></td>
                        </tr>
                        <tr>
                            <th></th>
                            <td><input style="display: block;margin: 30px 0px 10px 80px;" type="submit" value="修改"/></td>
                        </tr>
                    </table>
                </form>
            </div>


        </div>

    </div>

{include file="index/footer" /}